<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>propagateAnchors</string>
        <key>pre</key>
        <true/>
      </dict>
      <dict>
        <key>name</key>
        <string>flattenComponents</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <dict>
      <key>@MMK_L_KERN_A</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_C</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_D_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_E_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_G</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_I_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_J_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_K_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_L_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_N_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_O_1ST</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_R_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_S</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_T</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_U</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_W</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_Y</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_Z_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_a_1ST</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_b_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_c_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_colon</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_d_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_e_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_f_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_g</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_guilsinglleft</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_guilsinglright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_hyphen</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_i_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_j_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_k_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_l_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_n_1ST</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_o_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_period_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_quoteleft</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_quoteright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_quotesingle</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_r_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_s_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_t_1ST</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_u</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_w</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_y</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_KERN_z_1ST</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_A</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_AE_2ND</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_C</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_G</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_I_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_J_2ND</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_N_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_O_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_S</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_T</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_U</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_W</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_Y</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_Z_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_a_2ND</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_b_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_colon</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_d_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_e_2ND</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_f_2ND</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_g</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_guilsinglleft</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_guilsinglright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_h_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_hyphen</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_i_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_j_2ND</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_l_2ND</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_n_2ND</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_o_2ND</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_period_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_quoteleft</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_quoteright</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_quotesingle</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_s_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_t_2ND</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_u</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_w</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_y</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_KERN_z_2ND</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>exclam</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>logicalnot</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>acute</string>
      <string>mu</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>onesuperior</string>
      <string>ordmasculine</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>dotlessi</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>minus</string>
      <string>f_i</string>
      <string>Jcircumflex</string>
      <string>commaaccent</string>
      <string>lcaron</string>
      <string>uni01C7</string>
      <string>schwa</string>
      <string>uni00AD</string>
      <string>ytilde</string>
      <string>emdash</string>
      <string>odotbelow</string>
      <string>Emacron</string>
      <string>nineinferior</string>
      <string>uni01C4</string>
      <string>Wcircumflex</string>
      <string>zdotaccent</string>
      <string>Ldot</string>
      <string>sevensuperior</string>
      <string>dotbelow</string>
      <string>fivesuperior</string>
      <string>twothirds</string>
      <string>uni01CA</string>
      <string>Uogonek</string>
      <string>zacute</string>
      <string>ddotbelow</string>
      <string>f_l</string>
      <string>Hcircumflex</string>
      <string>f_f</string>
      <string>Idotaccent</string>
      <string>hcircumflex</string>
      <string>zeroinferior</string>
      <string>Rdotbelow</string>
      <string>idotbelow</string>
      <string>Edotbelow</string>
      <string>s_t</string>
      <string>tilde.cap</string>
      <string>Sacute</string>
      <string>acute.cap</string>
      <string>ncommaaccent</string>
      <string>f_k</string>
      <string>foursuperior</string>
      <string>Omacron</string>
      <string>uni2215</string>
      <string>uring</string>
      <string>racute</string>
      <string>ubreve</string>
      <string>Amacron</string>
      <string>dcaron</string>
      <string>ycircumflex</string>
      <string>OE</string>
      <string>f_f_h</string>
      <string>hungarumlaut.cap</string>
      <string>ij</string>
      <string>sacute</string>
      <string>breve.cap</string>
      <string>guilsinglright</string>
      <string>oneeighth</string>
      <string>Ytilde</string>
      <string>wgrave</string>
      <string>eightsuperior</string>
      <string>hbar</string>
      <string>tcaron</string>
      <string>scircumflex</string>
      <string>eightinferior</string>
      <string>uni015F</string>
      <string>kgreenlandic</string>
      <string>jcircumflex</string>
      <string>Imacron</string>
      <string>Ubreve</string>
      <string>quotedblright</string>
      <string>umacron</string>
      <string>Tcaron</string>
      <string>Gcommaaccent</string>
      <string>NULL</string>
      <string>seveninferior</string>
      <string>Edotaccent</string>
      <string>oslashacute</string>
      <string>Lslash</string>
      <string>Ndotaccent</string>
      <string>Ibreve</string>
      <string>Schwa</string>
      <string>guilsinglleft</string>
      <string>Iogonek</string>
      <string>AEacute</string>
      <string>f_f_l</string>
      <string>Zcaron</string>
      <string>quotedblbase</string>
      <string>Wgrave</string>
      <string>Lcaron</string>
      <string>Eogonek</string>
      <string>seveneighths</string>
      <string>IJ</string>
      <string>hdotbelow</string>
      <string>f_h</string>
      <string>uni0163</string>
      <string>f_f_k</string>
      <string>uni01C6</string>
      <string>obreve</string>
      <string>f_b</string>
      <string>macron.cap</string>
      <string>aringacute</string>
      <string>Eng</string>
      <string>uni0162</string>
      <string>oogonek</string>
      <string>c_t</string>
      <string>itilde</string>
      <string>uni021B</string>
      <string>Kcommaaccent</string>
      <string>Racute</string>
      <string>tbar</string>
      <string>dieresis.cap</string>
      <string>sixinferior</string>
      <string>wcircumflex</string>
      <string>oe</string>
      <string>dotlessj</string>
      <string>Zdotbelow</string>
      <string>Ccaron</string>
      <string>Uhungarumlaut</string>
      <string>threeinferior</string>
      <string>f_f_b</string>
      <string>ndotaccent</string>
      <string>ibreve</string>
      <string>Abreve</string>
      <string>ygrave</string>
      <string>zerosuperior</string>
      <string>grave.cap</string>
      <string>Hdotbelow</string>
      <string>zdotbelow</string>
      <string>oneinferior</string>
      <string>f_t</string>
      <string>Uring</string>
      <string>trademark</string>
      <string>wacute</string>
      <string>Ydieresis</string>
      <string>fraction</string>
      <string>edotaccent</string>
      <string>ccaron</string>
      <string>uni01F3</string>
      <string>uni01CC</string>
      <string>Gcircumflex</string>
      <string>f_f_t</string>
      <string>circumflex.cap</string>
      <string>fourinferior</string>
      <string>emacron</string>
      <string>nacute</string>
      <string>Ebreve</string>
      <string>Oslashacute</string>
      <string>f_f_j</string>
      <string>dagger</string>
      <string>Wacute</string>
      <string>edotbelow</string>
      <string>aogonek</string>
      <string>abreve</string>
      <string>Rcaron</string>
      <string>ldot</string>
      <string>Aringacute</string>
      <string>s_p</string>
      <string>caron.cap</string>
      <string>cdotaccent</string>
      <string>quotedblleft</string>
      <string>ecaron</string>
      <string>lcommaaccent</string>
      <string>uni0218</string>
      <string>gdotaccent</string>
      <string>utilde</string>
      <string>Aogonek</string>
      <string>Rcommaaccent</string>
      <string>Etilde</string>
      <string>CR</string>
      <string>Zacute</string>
      <string>f_j</string>
      <string>Ccircumflex</string>
      <string>Itilde</string>
      <string>Lcommaaccent</string>
      <string>uni01F1</string>
      <string>quotesinglbase</string>
      <string>ring.cap</string>
      <string>Tbar</string>
      <string>fiveinferior</string>
      <string>ccircumflex</string>
      <string>etilde</string>
      <string>lacute</string>
      <string>uni01C9</string>
      <string>tdotbelow</string>
      <string>dotaccent.cap</string>
      <string>uhungarumlaut</string>
      <string>Nacute</string>
      <string>Hbar</string>
      <string>Ohungarumlaut</string>
      <string>Udotbelow</string>
      <string>daggerdbl</string>
      <string>sdotbelow</string>
      <string>florin</string>
      <string>Gbreve</string>
      <string>rcommaaccent</string>
      <string>.notdef</string>
      <string>Tdotbelow</string>
      <string>ncaron</string>
      <string>servicemark</string>
      <string>Gdotaccent</string>
      <string>lslash</string>
      <string>uni01C8</string>
      <string>gcircumflex</string>
      <string>rdotbelow</string>
      <string>uni0219</string>
      <string>amacron</string>
      <string>omacron</string>
      <string>Wdieresis</string>
      <string>uogonek</string>
      <string>caron.alt</string>
      <string>Ddotbelow</string>
      <string>Idotbelow</string>
      <string>Odotbelow</string>
      <string>Ncommaaccent</string>
      <string>uni01C5</string>
      <string>sixsuperior</string>
      <string>Dcaron</string>
      <string>uni01CB</string>
      <string>Umacron</string>
      <string>wdieresis</string>
      <string>Cdotaccent</string>
      <string>imacron</string>
      <string>napostrophe</string>
      <string>zcaron</string>
      <string>Zdotaccent</string>
      <string>perthousand</string>
      <string>cacute</string>
      <string>ellipsis</string>
      <string>Scaron</string>
      <string>f_f_i</string>
      <string>gcommaaccent</string>
      <string>fiveeighths</string>
      <string>Obreve</string>
      <string>Oogonek</string>
      <string>Lacute</string>
      <string>twoinferior</string>
      <string>Euro</string>
      <string>uni021A</string>
      <string>Ncaron</string>
      <string>dcroat</string>
      <string>gbreve</string>
      <string>kcommaaccent</string>
      <string>onethird</string>
      <string>Scircumflex</string>
      <string>rcaron</string>
      <string>uni01F2</string>
      <string>uni2219</string>
      <string>Cacute</string>
      <string>aeacute</string>
      <string>eng</string>
      <string>iogonek</string>
      <string>uni00A0</string>
      <string>Ycircumflex</string>
      <string>ebreve</string>
      <string>bullet</string>
      <string>ohungarumlaut</string>
      <string>Ygrave</string>
      <string>ninesuperior</string>
      <string>apostrophe</string>
      <string>Utilde</string>
      <string>udotbelow</string>
      <string>scaron</string>
      <string>eogonek</string>
      <string>uni015E</string>
      <string>uni03BC</string>
      <string>endash</string>
      <string>threeeighths</string>
      <string>Sdotbelow</string>
      <string>Dcroat</string>
      <string>Ecaron</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>brevecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>ringcomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>gravecomb.cap</string>
      <string>dieresiscomb.cap</string>
      <string>macroncomb.cap</string>
      <string>acutecomb.cap</string>
      <string>circumflexcomb.cap</string>
      <string>caroncomb.cap</string>
      <string>brevecomb.cap</string>
      <string>dotaccentcomb.cap</string>
      <string>ringcomb.cap</string>
      <string>tildecomb.cap</string>
      <string>hungarumlautcomb.cap</string>
    </array>
  </dict>
</plist>
